<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>AddEmployee</td><td>ModuleName_02.AddEmployee()[pri:0, instance:org.neosoft.test.ModuleName_02@31a5c39e]<br/></td></tr>
<tr><td>Logins</td><td>ModuleName_02.Login_Admin()[pri:0, instance:org.neosoft.test.ModuleName_02@31a5c39e]<br/></td></tr>
</table>
