<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AddEmployee</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>17/12/04 16:01:53</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuite(java.lang.String, java.lang.String)[pri:0, instance:org.neosoft.test.ModuleName_02@31a5c39e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/12/04 16:01:54</td>   <td>906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModuleName_02.AddEmployee()[pri:0, instance:org.neosoft.test.ModuleName_02@31a5c39e]">AddEmployee</td> 
  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/12/04 16:01:54</td>   <td>906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModuleName_02.Login_Admin()[pri:0, instance:org.neosoft.test.ModuleName_02@31a5c39e]">Login_Admin</td> 
  <td>main@1383547042</td>   <td></td> </tr>
</table>
