<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>AddEmployee</td><td>ModuleName_01.AddEmployee()[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]<br/></td></tr>
</table>
