<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HDFSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>17/12/06 14:41:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModuleName_01.AddEmployee()[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]">AddEmployee</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/12/06 14:42:29</td>   <td>61322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/12/06 14:42:30</td>   <td>62337</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/12/06 14:41:28</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/12/06 14:41:26</td>   <td>-2000</td> <td title="&gt;&gt;BaseClass.beforeSuite(java.lang.String, java.lang.String)[pri:0, instance:org.neosoft.test.ModuleName_01@4f7d0008]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
